<div class="container">
  <div class="container">
      <h1>Lista de localidades</h1>
  </div>
  
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">CP</th>
        <th scope="col">Provincia</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tr *ngFor="let localidad of localidadService.devolverListado()">
      <td>{{localidad.id}}</td>
      <td>{{localidad.nombre}}</td>
      <td>{{localidad.cp}}</td>
      <td>{{provinciaservice.obtener(localidad.provinciaid) | async}}</td>
      <td>
        <button class="btn btn-warning" (click)="editar(localidad)">Editar</button>
        <button class="btn btn-danger" (click)="localidadService.eliminarLocalidad(localidad.id)">Eliminar</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" [routerLink]="['nuevo']">Nueva Localidad</button>
</div>