<div class="container">
    <div class="container">
        <h1>Lista de provincias</h1>
    </div>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tr *ngFor="let provincia of provinciaService.devolverListado()">
      <td>{{provincia.id}}</td>
      <td>{{provincia.nombre}}</td>
      <td>
        <button class="btn btn-warning" (click)="editar(provincia)">Editar</button>
        <button class="btn btn-danger" (click)="provinciaService.eliminarProvincia(provincia.id)">Eliminar</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" [routerLink]="['nuevo']">Nueva Provincia</button>
</div>