<div class="container">
  <h1>Nueva provincia</h1>
  <form>
    <div class="form-group">
        <label class="col-form-label" for="id">Id</label>
        <input class="form-control" type="number" name="id" [(ngModel)]="provincia.id">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="nombre">Nombre</label>
        <input class="form-control" type="text" name="nombre" [(ngModel)]="provincia.nombre">
    </div>
    <button class="btn btn-primary" (click)="crearProvincia()">Crear</button>
  </form>
</div>