<div class="container">
    <form>
        <h1>Editar localidad</h1>
        <form>
          <div class="form-group">
              <label class="col-form-label" for="id">Id</label>
              <input class="form-control" type="number" name="id" [(ngModel)]="localidad.id">
          </div>
          <div class="form-group">
              <label class="col-form-label" for="nombre">Nombre</label>
              <input class="form-control" type="text" name="nombre" [(ngModel)]="localidad.nombre">
          </div>
          <div class="form-group">
              <label class="col-form-label" for="cp">CP</label>
              <input class="form-control" type="text" name="cp" [(ngModel)]="localidad.cp">
          </div>   
          <button class="btn btn-primary" (click)="editarLocalidad()">Editar</button>
        </form>
      </form>      
</div>
